
   <h1>{{title}}</h1>
   <nav>
   <a routerLink="/panel" routerLinkActive="active">Panel de Control</a>
   <a routerLink="/entes" routerLinkActive="active">Entes</a>
   </nav>
   <router-outlet></router-outlet>

<!-- 
<h1>{{titulo}}</h1>

<app-entes></app-entes> -->


<!-- <h1>{{titulo}}</h1>


<ul class="heroes">
 <li *ngFor="let ente of entes"
  [class.selected]="ente === enteSeleccionado"
  (click)="seleccionar(ente)">
  <span class="badge">{{ente.id}}</span> {{ente.nombre}}
</li>
</ul>
 <app-ente-detalle [ente]="enteSeleccionado"></app-ente-detalle>
 -->