<h1>{{titulo}}</h1>


<ul class="heroes">
 <li *ngFor="let ente of entes"
  [class.selected]="ente === enteSeleccionado"
  (click)="seleccionar(ente)">
  <span class="badge">{{ente.id}}</span> {{ente.nombre}}
</li>
</ul>
 <app-ente-detalle [ente]="enteSeleccionado"></app-ente-detalle>
<!-- <div *ngIf="enteSeleccionado">
<h2>Detalles del ente: {{enteSeleccionado.nombre}} </h2>
	<div><label>id: </label>{{enteSeleccionado.id}}</div>
	<div>
	    <label>nombre: </label>
	    <input [(ngModel)]="enteSeleccionado.nombre" placeholder="nombre"/>
	</div>
</div> -->